<div class="il-form">
    <h2 class="text-center font-weight-bold">Registro</h2>
    <p class="text-center">Registrese con nosotros y conozca nuestros servicios</p>
    <form (submit)="sendInfo($event)" [formGroup]="registerForm">
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Nombre*</label>
                    <input type="text" name="name" id="name" class="form-control" formControlName="name">
                    <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)" class="error text-danger">
                        <div *ngIf="registerForm.controls['name'].errors.required">
                            Campo Obligatorio
                        </div>
                        <div *ngIf="registerForm.controls['name'].errors.pattern">
                            Solo letras
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Apellido*</label>
                    <input type="text" class="form-control" name="family_name" id="family_name" formControlName="family_name">
                    <div *ngIf="registerForm.controls['family_name'].invalid && (registerForm.controls['family_name'].dirty || registerForm.controls['family_name'].touched)" class="error text-danger">
                        <div *ngIf="registerForm.controls['family_name'].errors.required">
                            Campo Obligatorio
                        </div>
                        <div *ngIf="registerForm.controls['family_name'].errors.pattern">
                            Solo letras
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" formControlName="email">
                    <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="error text-danger">
                        <div *ngIf="registerForm.controls['email'].errors.pattern">
                            El correo debe ser válido
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" name="phone" id="phone" formControlName="phone">
                    <div *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)" class="error text-danger">
                        <div *ngIf="registerForm.controls['phone'].errors.pattern">
                            Sólo números
                        </div>
                        <div *ngIf="registerForm.controls['phone'].errors.maxlength">
                            Hasta 10 caracteres
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Programa de interés</label>
                    <select class="form-control" name="program" id="program" formControlName="program">
                      <option *ngFor="let program of programsList" value="{{program.id}}">{{program.name}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Comentario</label>
                    <textarea class="form-control" name="comment" id="comment" formControlName="comment"></textarea>
                </div>
            </div>
            <div class="col-12 text-center mt-5">
                <button class="btn btn-primary" disabled="{{registerForm.status==='INVALID'?'disabled':''}}">Enviar</button>
            </div>
            <small>Los campos marcados con * son obligatorios</small>
        </div>
    </form>
</div>